<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855680008675-oa1fo9u7ptbiacq1v61fucrh7al8iqst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855680008675-oa1fo9u7ptbiacq1v61fucrh7al8iqst</string>
	<key>API_KEY</key>
	<string>AIzaSyCReNyFToPGKmzHZ4iyUPNHxHwQm0cJ4y4</string>
	<key>GCM_SENDER_ID</key>
	<string>855680008675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nars</string>
	<key>PROJECT_ID</key>
	<string>nars-02bnoj</string>
	<key>STORAGE_BUCKET</key>
	<string>nars-02bnoj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855680008675:ios:73e8b5d5f1405b9ec6e0d6</string>
</dict>
</plist>